<a href="https://colab.research.google.com/github/Vitalyastiy/NPS/blob/main/Russian%20toxic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install transformers

In [ ]:
!pip install torch

In [ ]:
!pip install evaluate

In [24]:
import pandas as pd

In [72]:
reviews = pd.read_excel('test.xlsx')
df = reviews.dropna()

In [59]:
from transformers import pipeline

clf = pipeline(
    task = 'sentiment-analysis', 
    model = 'SkolkovoInstitute/russian_toxicity_classifier')

#text = ['пятигорск']
#clf(text)

[{'label': 'neutral', 'score': 0.9995742440223694}]

In [67]:
def fix_addr(text):
    matches = clf(text)
    return matches #(', '.join(f'{match or ""} {match}' for match in matches)) or None
df['city']=df['mark_6'].map(fix_addr)
df

<ipython-input-67-96210c6cc4c3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['city']=df['mark_6'].map(fix_addr)

,create_date,mark_6,nps,ltr,city
0,2022-12-23,3,0,7,"[{'label': 'neutral', 'score': 0.9990857839584..."
5,2023-01-11,"г.Черноголовка, ул.Первая,д.25",0,8,"[{'label': 'neutral', 'score': 0.9996412992477..."
6,2022-12-02,10,1,10,"[{'label': 'neutral', 'score': 0.9994032382965..."
14,2022-12-19,У меня тариф вообще дорогой но не хватает мега...,0,7,"[{'label': 'neutral', 'score': 0.9990288019180..."
17,2022-12-16,мариуполь,1,10,"[{'label': 'neutral', 'score': 0.9995848536491..."
...,...,...,...,...,...
18621,2022-12-02,3,1,10,"[{'label': 'neutral', 'score': 0.9990857839584..."
18625,2023-01-18,Нагинский район посёлок Воровского,-1,1,"[{'label': 'neutral', 'score': 0.9901673793792..."
18636,2022-12-12,10,1,10,"[{'label': 'neutral', 'score': 0.9994032382965..."
18641,2022-12-05,5 пригородные электропоезда,1,10,"[{'label': 'neutral', 'score': 0.9993564486503..."
18644,2022-12-30,Нет,1,10,"[{'label': 'neutral', 'score': 0.9643335938453..."

In [69]:
classifier = pipeline("sentiment-analysis", model="blanchefort/rubert-base-cased-sentiment")

In [73]:
def fix_addr(text):
    matches = classifier(text)
    return matches #(', '.join(f'{match or ""} {match}' for match in matches)) or None
df['city']=df['mark_6'].map(fix_addr)
df

<ipython-input-73-cdc11c3fdc56>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['city']=df['mark_6'].map(fix_addr)

,create_date,mark_6,nps,ltr,city
0,2022-12-23,3,0,7,"[{'label': 'NEUTRAL', 'score': 0.8209642171859..."
5,2023-01-11,"г.Черноголовка, ул.Первая,д.25",0,8,"[{'label': 'NEGATIVE', 'score': 0.751481652259..."
6,2022-12-02,10,1,10,"[{'label': 'NEUTRAL', 'score': 0.5029101967811..."
14,2022-12-19,У меня тариф вообще дорогой но не хватает мега...,0,7,"[{'label': 'NEGATIVE', 'score': 0.751715958118..."
17,2022-12-16,мариуполь,1,10,"[{'label': 'NEUTRAL', 'score': 0.8235167264938..."
...,...,...,...,...,...
18621,2022-12-02,3,1,10,"[{'label': 'NEUTRAL', 'score': 0.8209642171859..."
18625,2023-01-18,Нагинский район посёлок Воровского,-1,1,"[{'label': 'NEUTRAL', 'score': 0.7304781675338..."
18636,2022-12-12,10,1,10,"[{'label': 'NEUTRAL', 'score': 0.5029101967811..."
18641,2022-12-05,5 пригородные электропоезда,1,10,"[{'label': 'NEUTRAL', 'score': 0.8199310302734..."
18644,2022-12-30,Нет,1,10,"[{'label': 'NEGATIVE', 'score': 0.751507520675..."

In [74]:
df.to_excel("output.xlsx")