express

In [1]:
import openpyxl
import pandas as pd
import matplotlib

In [10]:
#удаляем 1 лист - Описание отчета
wb = openpyxl.load_workbook('1Q2023 Экспресс-мониторинг показателей трекинга.xlsx')
sheet = wb.sheetnames
wb.remove(wb['Описание отчета'])
wb.save('Очищенный.xlsx')
#Не чиатем ненужный лист(если знаем наименование всех листов)
#df = pd.read_excel('***.xls', sheet_name=['a', 'b', 'c', 'd'])

In [11]:
# объединяем все листы и добавляем столбец, c наименованием листа
workbook = pd.ExcelFile('Очищенный.xlsx')
sheets = workbook.sheet_names

df = pd.concat([pd.read_excel(workbook, sheet_name=s)
                .assign(sheet_name=s) for s in sheets]) #добавляем в столбец во фрейм
#df.to_excel('tes111.xlsx', index=False )    

# листкомпрехэншен
'''sheets = ['a', 'b', 'c', 'd']
df = pd.concat([pd.read_excel('***.xls', sheet_name=s)
                .assign(sheet_name=s) for s in sheets])'''

"sheets = ['a', 'b', 'c', 'd']\ndf = pd.concat([pd.read_excel('***.xls', sheet_name=s)\n                .assign(sheet_name=s) for s in sheets])"

In [12]:
# то же самое, вариант 2
'''data = pd.read_excel('testdel.xlsx', sheet_name=['BA', 'AA', 'AL', 'Consideration', 'VFM', 'QP', 'CP', 'IQP', 'ICP', 'PLP', 'NPS', 'Для таких людей как я', 'Честный', 'Удобный, простой'])
df = pd.DataFrame()
for name, frame in data.items():
    frame['sheet'] = name
    df = df.append(frame)
pd.DataFrame(df)
#df.to_excel('tes111.xlsx', index=False )
'''

"data = pd.read_excel('testdel.xlsx', sheet_name=['BA', 'AA', 'AL', 'Consideration', 'VFM', 'QP', 'CP', 'IQP', 'ICP', 'PLP', 'NPS', 'Для таких людей как я', 'Честный', 'Удобный, простой'])\ndf = pd.DataFrame()\nfor name, frame in data.items():\n    frame['sheet'] = name\n    df = df.append(frame)\npd.DataFrame(df)\n#df.to_excel('tes111.xlsx', index=False )\n"

In [13]:
df

,География\n (Total / macro / region),Выбор,Оператор,Q1'20,Q2'20,Q3'20,Q4'20,Q1'21,Q2'21,Q3'21,Q4'21,Unnamed: 11,Q1'22,Q2'22,Q3'22,Q4'22,Q1'23,Изменение показателя за квартал (Q1'23 vs. Q4'22),Изменение показателя за год (Q1'23 vs. Q1'22),sheet_name
0,Macro New,Center,МТС,0.912289,0.912235,0.919245,0.921726,0.918286,0.914548,0.922372,0.923176,NaN,0.930529,0.926644,0.927479,0.941520,0.936659,NaN,NaN,BA
1,Macro New,Center,Билайн,0.900602,0.895547,0.898092,0.902771,0.894512,0.883985,0.886011,0.890733,NaN,0.918729,0.908684,0.909499,0.921054,0.916656,NaN,NaN,BA
2,Macro New,Center,Мегафон,0.874116,0.856657,0.859515,0.854461,0.853194,0.856565,0.848977,0.853412,NaN,0.875378,0.877518,0.880491,0.894756,0.893558,NaN,NaN,BA
3,Macro New,Center,Tele2,0.891816,0.878869,0.873022,0.880587,0.886833,0.880371,0.883432,0.891215,NaN,0.892235,0.889472,0.891751,0.903083,0.892657,NaN,NaN,BA
4,Macro New,Center,Yota,0.423996,0.408457,0.405236,0.397369,0.385546,0.413046,0.420511,0.400423,NaN,0.504247,0.498618,0.489651,0.516394,0.511670,NaN,NaN,BA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Region,Хабаровск,МТС,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.522450,0.466991,0.467113,NaN,NaN,"Удобный, простой"
428,Region,Хабаровск,Билайн,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.292163,0.291914,0.316321,NaN,NaN,"Удобный, простой"
429,Region,Хабаровск,Мегафон,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.380200,0.366560,0.370984,NaN,NaN,"Удобный, простой"
430,Region,Хабаровск,Tele2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.151383,0.229954,0.279813,NaN,NaN,"Удобный, простой"
431,Region,Хабаровск,Yota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.206893,0.172074,0.199130,NaN,NaN,"Удобный, простой"

In [14]:
df.columns

Index(['География\n (Total / macro / region)', 'Выбор', 'Оператор', 'Q1'20',
       'Q2'20', 'Q3'20', 'Q4'20', 'Q1'21', 'Q2'21', 'Q3'21', 'Q4'21',
       'Unnamed: 11', 'Q1'22', 'Q2'22', 'Q3'22', 'Q4'22', 'Q1'23',
       'Изменение показателя за квартал (Q1'23 vs. Q4'22)',
       ' Изменение показателя за год (Q1'23 vs. Q1'22)', 'sheet_name'],
      dtype='object')

In [18]:
#переворчиваем
df_unpivot = pd.melt(df, id_vars=["География\n (Total / macro / region)", 'Выбор', 'Оператор', 'sheet_name' ,  "Изменение показателя за квартал (Q1'23 vs. Q4'22)"], value_vars=["Q1'20",\
       "Q2'20", "Q3'20", "Q4'20", "Q1'21", "Q2'21", "Q3'21", "Q4'21", "Q1'22", "Q2'22", "Q3'22", "Q4'22", "Q1'23"])
df_unpivot

,География\n (Total / macro / region),Выбор,Оператор,sheet_name,Изменение показателя за квартал (Q1'23 vs. Q4'22),variable,value
0,Macro New,Center,МТС,BA,NaN,Q1'20,0.912289
1,Macro New,Center,Билайн,BA,NaN,Q1'20,0.900602
2,Macro New,Center,Мегафон,BA,NaN,Q1'20,0.874116
3,Macro New,Center,Tele2,BA,NaN,Q1'20,0.891816
4,Macro New,Center,Yota,BA,NaN,Q1'20,0.423996
...,...,...,...,...,...,...,...
77332,Region,Хабаровск,МТС,"Удобный, простой",NaN,Q1'23,0.467113
77333,Region,Хабаровск,Билайн,"Удобный, простой",NaN,Q1'23,0.316321
77334,Region,Хабаровск,Мегафон,"Удобный, простой",NaN,Q1'23,0.370984
77335,Region,Хабаровск,Tele2,"Удобный, простой",NaN,Q1'23,0.279813
77336,Region,Хабаровск,Yota,"Удобный, простой",NaN,Q1'23,0.199130

In [19]:
df_unpivot.rename(columns={'sheet_name':'sheet'}, inplace = True)

In [20]:
df_unpivot.to_excel('test.xlsx', index=False )

Доработка средних показателей

In [167]:
df.rename(columns={"Q1'20":"Q'2020", "Q2'20":"Q'2020", "Q3'20":"Q'2020", "Q4'20":"Q'2020", "Q1'21":"Q'2021", "Q2'21":"Q'2021",\
    "Q3'21":"Q'2021", "Q4'21":"Q'2021", "Q1'22":"Q'2022", "Q2'22":"Q'2022", "Q3'22":"Q'2022", "Q4'22": "Q'2022"}, inplace=True)
df

,География\n (Total / Macroregion / region),Выбор,Оператор,Q'2020,Q'2020,Q'2020,Q'2020,Q'2021,Q'2021,Q'2021,Q'2021,Unnamed: 11,Q'2022,Q'2022,Q'2022,Q'2022,Изменение показателя за квартал (Q4'22 vs. Q3'22),sheet_name
0,Macroregion,Center,МТС,0.912289,0.912235,0.919245,0.921726,0.918286,0.914548,0.922372,0.923176,NaN,0.930529,0.926644,0.927479,0.941520,NaN,BA
1,Macroregion,Center,Билайн,0.900602,0.895547,0.898092,0.902771,0.894512,0.883985,0.886011,0.890733,NaN,0.918729,0.908684,0.909499,0.921054,NaN,BA
2,Macroregion,Center,Мегафон,0.874116,0.856657,0.859515,0.854461,0.853194,0.856565,0.848977,0.853412,NaN,0.875378,0.877518,0.880491,0.894756,NaN,BA
3,Macroregion,Center,Tele2,0.891816,0.878869,0.873022,0.880587,0.886833,0.880371,0.883432,0.891215,NaN,0.892235,0.889472,0.891751,0.903083,NaN,BA
4,Macroregion,Center,Yota,0.423996,0.408457,0.405236,0.397369,0.385546,0.413046,0.420511,0.400423,NaN,0.504247,0.498618,0.489651,0.516394,NaN,BA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Region,Хабаровск,МТС,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.522450,0.466991,NaN,"Удобный, простой"
428,Region,Хабаровск,Билайн,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.292163,0.291914,NaN,"Удобный, простой"
429,Region,Хабаровск,Мегафон,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.380200,0.366560,NaN,"Удобный, простой"
430,Region,Хабаровск,Tele2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.151383,0.229954,NaN,"Удобный, простой"
431,Region,Хабаровск,Yota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.206893,0.172074,NaN,"Удобный, простой"

In [168]:
#переворчиваем
df_unpivot2 = pd.melt(df, id_vars=["География\n (Total / Macroregion / region)", 'Выбор', 'Оператор', 'sheet_name' ,  "Изменение показателя за квартал (Q4'22 vs. Q3'22)"], value_vars=[\
        "Q'2020","Q'2021" , "Q'2022" ], var_name='year_cnt', value_name='subs')
df_unpivot2

,География\n (Total / Macroregion / region),Выбор,Оператор,sheet_name,Изменение показателя за квартал (Q4'22 vs. Q3'22),year_cnt,subs
0,Macroregion,Center,МТС,BA,NaN,Q'2020,0.912289
1,Macroregion,Center,Билайн,BA,NaN,Q'2020,0.900602
2,Macroregion,Center,Мегафон,BA,NaN,Q'2020,0.874116
3,Macroregion,Center,Tele2,BA,NaN,Q'2020,0.891816
4,Macroregion,Center,Yota,BA,NaN,Q'2020,0.423996
...,...,...,...,...,...,...,...
71539,Region,Хабаровск,МТС,"Удобный, простой",NaN,Q'2022,0.466991
71540,Region,Хабаровск,Билайн,"Удобный, простой",NaN,Q'2022,0.291914
71541,Region,Хабаровск,Мегафон,"Удобный, простой",NaN,Q'2022,0.366560
71542,Region,Хабаровск,Tele2,"Удобный, простой",NaN,Q'2022,0.229954
71543,Region,Хабаровск,Yota,"Удобный, простой",NaN,Q'2022,0.172074

In [169]:
df_unpivot2.sheet_name.value_counts()

BA                       5184
AA                       5184
AL                       5184
Consideration            5184
VFM                      5184
QP                       5184
CP                       5184
IQP                      5184
ICP                      5184
PLP                      5184
Для таких людей как я    5184
Честный                  5184
Удобный, простой         5184
NPS                      4152
Name: sheet_name, dtype: int64

In [170]:
df_unpivot2 = df_unpivot2.query('sheet_name == "Consideration"').copy()
df_unpivot2

,География\n (Total / Macroregion / region),Выбор,Оператор,sheet_name,Изменение показателя за квартал (Q4'22 vs. Q3'22),year_cnt,subs
1296,Macroregion,Center,МТС,Consideration,NaN,Q'2020,0.320379
1297,Macroregion,Center,Билайн,Consideration,NaN,Q'2020,0.189278
1298,Macroregion,Center,Мегафон,Consideration,NaN,Q'2020,0.220944
1299,Macroregion,Center,Tele2,Consideration,NaN,Q'2020,0.397511
1300,Macroregion,Center,Yota,Consideration,NaN,Q'2020,0.081576
...,...,...,...,...,...,...,...
67305,Region,Хабаровск,МТС,Consideration,NaN,Q'2022,0.304542
67306,Region,Хабаровск,Билайн,Consideration,NaN,Q'2022,0.152546
67307,Region,Хабаровск,Мегафон,Consideration,NaN,Q'2022,0.282325
67308,Region,Хабаровск,Tele2,Consideration,NaN,Q'2022,0.310949
67309,Region,Хабаровск,Yota,Consideration,NaN,Q'2022,0.091548

In [171]:
#df_unpivot2['subs'] = df_unpivot2['subs'].fillna (0)

In [172]:
df_unpivot2= df_unpivot2.groupby(['География\n (Total / Macroregion / region)','Выбор',	'Оператор',	'year_cnt'] , as_index=False).agg({'subs':'mean'})
df_unpivot2

,География\n (Total / Macroregion / region),Выбор,Оператор,year_cnt,subs
0,Macroregion,Baikal & Far East,Tele2,Q'2020,0.391109
1,Macroregion,Baikal & Far East,Tele2,Q'2021,0.402884
2,Macroregion,Baikal & Far East,Tele2,Q'2022,0.415363
3,Macroregion,Baikal & Far East,Yota,Q'2020,0.077228
4,Macroregion,Baikal & Far East,Yota,Q'2021,0.072145
...,...,...,...,...,...
1291,Total,Total Russia all w/o Moscow,МТС,Q'2021,0.330975
1292,Total,Total Russia all w/o Moscow,МТС,Q'2022,0.301388
1293,Total,Total Russia all w/o Moscow,Мегафон,Q'2020,0.241001
1294,Total,Total Russia all w/o Moscow,Мегафон,Q'2021,0.242898
1295,Total,Total Russia all w/o Moscow,Мегафон,Q'2022,0.234904

In [173]:
df_unpivot2.rename(columns={'year_cnt':'variable' }, inplace = True)
df_unpivot2.rename(columns={'subs':'value' }, inplace = True)
df_unpivot2

,География\n (Total / Macroregion / region),Выбор,Оператор,variable,value
0,Macroregion,Baikal & Far East,Tele2,Q'2020,0.391109
1,Macroregion,Baikal & Far East,Tele2,Q'2021,0.402884
2,Macroregion,Baikal & Far East,Tele2,Q'2022,0.415363
3,Macroregion,Baikal & Far East,Yota,Q'2020,0.077228
4,Macroregion,Baikal & Far East,Yota,Q'2021,0.072145
...,...,...,...,...,...
1291,Total,Total Russia all w/o Moscow,МТС,Q'2021,0.330975
1292,Total,Total Russia all w/o Moscow,МТС,Q'2022,0.301388
1293,Total,Total Russia all w/o Moscow,Мегафон,Q'2020,0.241001
1294,Total,Total Russia all w/o Moscow,Мегафон,Q'2021,0.242898
1295,Total,Total Russia all w/o Moscow,Мегафон,Q'2022,0.234904

In [175]:
#df_unpivot[['География\n (Total / Macroregion / region)','Выбор',	'Оператор']]

df_unpivot1 = df_unpivot.query('sheet_name == "Consideration"').copy()
df_unpivot1 = df_unpivot1[['География\n (Total / Macroregion / region)','Выбор',	'Оператор', 'variable',	'value']]
df_unpivot1

,География\n (Total / Macroregion / region),Выбор,Оператор,variable,value
1296,Macroregion,Center,МТС,Q1'20,0.320379
1297,Macroregion,Center,Билайн,Q1'20,0.189278
1298,Macroregion,Center,Мегафон,Q1'20,0.220944
1299,Macroregion,Center,Tele2,Q1'20,0.397511
1300,Macroregion,Center,Yota,Q1'20,0.081576
...,...,...,...,...,...
67305,Region,Хабаровск,МТС,Q4'22,0.304542
67306,Region,Хабаровск,Билайн,Q4'22,0.152546
67307,Region,Хабаровск,Мегафон,Q4'22,0.282325
67308,Region,Хабаровск,Tele2,Q4'22,0.310949
67309,Region,Хабаровск,Yota,Q4'22,0.091548

In [176]:
frames = [df_unpivot1,df_unpivot2]
result = pd.concat(frames)
result

,География\n (Total / Macroregion / region),Выбор,Оператор,variable,value
1296,Macroregion,Center,МТС,Q1'20,0.320379
1297,Macroregion,Center,Билайн,Q1'20,0.189278
1298,Macroregion,Center,Мегафон,Q1'20,0.220944
1299,Macroregion,Center,Tele2,Q1'20,0.397511
1300,Macroregion,Center,Yota,Q1'20,0.081576
...,...,...,...,...,...
1291,Total,Total Russia all w/o Moscow,МТС,Q'2021,0.330975
1292,Total,Total Russia all w/o Moscow,МТС,Q'2022,0.301388
1293,Total,Total Russia all w/o Moscow,Мегафон,Q'2020,0.241001
1294,Total,Total Russia all w/o Moscow,Мегафон,Q'2021,0.242898
1295,Total,Total Russia all w/o Moscow,Мегафон,Q'2022,0.234904

In [177]:
result.to_excel('full.xlsx', index=False )

Propisi

In [307]:
xl = pd.ExcelFile('Propisi Tracking 3Q2022 Osnovnye.xlsx')
xl.sheet_names  # see all sheet names

['Описание отчета', 'data']

In [ ]:
df = xl.parse('data')  # read a specific sheet to DataFrame
df
#df.reset_index(drop= True , inplace= True )

In [ ]:
df.columns

In [398]:
df.rename(columns={"Q1'20":"2020-01-01", "Q2'20":"2020-04-01", "Q3'20":"2020-07-01", "Q4'20":"2020-10-01", "Q1'21":"2021-01-01", "Q2'21":"2021-04-01",\
    "Q3'21":"2021-07-01", "Q4'21":"2021-10-01", "Q1'22\n(A)":"2022-01-01", "Q2'22\n(B)":"2022-04-01", "Q3'22\n(C)":"2022-07-01"}, inplace=True)
df.columns

Index(['Показатель', 'Оператор', 'Вариант', 'Категория', 'Категория_Выбор',
       'Сегмент', 'Разбивка1', 'Вариант1', 'Пояснение', '2020-01-01',
       '2020-04-01', '2020-07-01', '2020-10-01', '2021-01-01', '2021-04-01',
       '2021-07-01', '2021-10-01', 'Unnamed: 17', '2022-01-01', '2022-04-01',
       '2022-07-01', 'Base_Q1'20', 'Base_Q2'20', 'Base_Q3'20', 'Base_Q4'20',
       'Base_Q1'21', 'Base_Q2'21', 'Base_Q3'21', 'Base_Q4'21', 'Unnamed: 29',
       'Base_Q1'22', 'Base_Q2'22', 'Base_Q3'22'],
      dtype='object')

In [ ]:
#переворчиваем nps 1
df_unpivot_q = pd.melt(df, id_vars=['Показатель', 'Оператор', 'Вариант', 'Категория', 'Категория_Выбор', 'Сегмент', 'Разбивка1', 'Вариант1', 'Пояснение'], \
    value_vars=['2020-01-01','2020-04-01', '2020-07-01', '2020-10-01', '2021-01-01', '2021-04-01', '2021-07-01', '2021-10-01', '2022-01-01', \
        '2022-04-01', '2022-07-01'], var_name='quarter', value_name='NPS')
df_unpivot_q
#df_unpivot.rename(columns = {'variable': 'quater', 'value':'NPS'}, inplace=True)

In [400]:
#переворчиваем cnt
df_unpivot_c = pd.melt(df, id_vars=['Показатель', 'Оператор', 'Вариант', 'Категория', 'Категория_Выбор', 'Сегмент', 'Разбивка1', 'Вариант1', 'Пояснение'], \
    value_vars=["Base_Q1'20", "Base_Q2'20", "Base_Q3'20", "Base_Q4'20", "Base_Q1'21", "Base_Q2'21", "Base_Q3'21", "Base_Q4'21", "Base_Q1'22", "Base_Q2'22", "Base_Q3'22", ], var_name='quater_cnt', value_name='subs')
df_unpivot_c 
#df_unpivot.rename(columns = {'variable': 'quater', 'value':'NPS'}, inplace=True)

,Показатель,Оператор,Вариант,Категория,Категория_Выбор,Сегмент,Разбивка1,Вариант1,Пояснение,quater_cnt,subs
0,AA,МТС,NaN,Cluster New,Defender,All Segments,All Subs,All Subs,102. Ad Awareness (q102. Рекламу каких операто...,Base_Q1'20,7102.0
1,AA,Билайн,NaN,Cluster New,Defender,All Segments,All Subs,All Subs,102. Ad Awareness (q102. Рекламу каких операто...,Base_Q1'20,7102.0
2,AA,Мегафон,NaN,Cluster New,Defender,All Segments,All Subs,All Subs,102. Ad Awareness (q102. Рекламу каких операто...,Base_Q1'20,7102.0
3,AA,Tele2,NaN,Cluster New,Defender,All Segments,All Subs,All Subs,102. Ad Awareness (q102. Рекламу каких операто...,Base_Q1'20,7102.0
4,AA,Ростелеком,NaN,Cluster New,Defender,All Segments,All Subs,All Subs,102. Ad Awareness (q102. Рекламу каких операто...,Base_Q1'20,7102.0
...,...,...,...,...,...,...,...,...,...,...,...
1037812,NPS,Мегафон,NaN,Cluster_update,Share Hungry w/o Москва,All Segments,Subs / nonsubs,Есть Мегафон,NPS,Base_Q3'22,2554.0
1037813,NPS,Tele2,NaN,Cluster_update,Share Hungry w/o Москва,All Segments,Subs / nonsubs,Есть Tele2,NPS,Base_Q3'22,1844.0
1037814,NPS,МТС,NaN,Region new,Хабаровск,All Segments,Subs / nonsubs,Есть МТС,NPS,Base_Q3'22,291.0
1037815,NPS,Билайн,NaN,Region new,Хабаровск,All Segments,Subs / nonsubs,Есть Билайн,NPS,Base_Q3'22,178.0
1037816,NPS,Мегафон,NaN,Region new,Хабаровск,All Segments,Subs / nonsubs,Есть Мегафон,NPS,Base_Q3'22,180.0

In [401]:
#merge
df_full =pd.merge(df_unpivot_q, df_unpivot_c[['quater_cnt',	'subs']], left_index= True, right_index=True, how='left') # 'on =' - для джойна по столбцу
df_full

,Показатель,Оператор,Вариант,Категория,Категория_Выбор,Сегмент,Разбивка1,Вариант1,Пояснение,quarter,NPS,quater_cnt,subs
0,AA,МТС,NaN,Cluster New,Defender,All Segments,All Subs,All Subs,102. Ad Awareness (q102. Рекламу каких операто...,2020-01-01,0.564618,Base_Q1'20,7102.0
1,AA,Билайн,NaN,Cluster New,Defender,All Segments,All Subs,All Subs,102. Ad Awareness (q102. Рекламу каких операто...,2020-01-01,0.502386,Base_Q1'20,7102.0
2,AA,Мегафон,NaN,Cluster New,Defender,All Segments,All Subs,All Subs,102. Ad Awareness (q102. Рекламу каких операто...,2020-01-01,0.552631,Base_Q1'20,7102.0
3,AA,Tele2,NaN,Cluster New,Defender,All Segments,All Subs,All Subs,102. Ad Awareness (q102. Рекламу каких операто...,2020-01-01,0.642393,Base_Q1'20,7102.0
4,AA,Ростелеком,NaN,Cluster New,Defender,All Segments,All Subs,All Subs,102. Ad Awareness (q102. Рекламу каких операто...,2020-01-01,0.013110,Base_Q1'20,7102.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1037812,NPS,Мегафон,NaN,Cluster_update,Share Hungry w/o Москва,All Segments,Subs / nonsubs,Есть Мегафон,NPS,2022-07-01,0.218238,Base_Q3'22,2554.0
1037813,NPS,Tele2,NaN,Cluster_update,Share Hungry w/o Москва,All Segments,Subs / nonsubs,Есть Tele2,NPS,2022-07-01,0.297777,Base_Q3'22,1844.0
1037814,NPS,МТС,NaN,Region new,Хабаровск,All Segments,Subs / nonsubs,Есть МТС,NPS,2022-07-01,0.190000,Base_Q3'22,291.0
1037815,NPS,Билайн,NaN,Region new,Хабаровск,All Segments,Subs / nonsubs,Есть Билайн,NPS,2022-07-01,0.020000,Base_Q3'22,178.0
1037816,NPS,Мегафон,NaN,Region new,Хабаровск,All Segments,Subs / nonsubs,Есть Мегафон,NPS,2022-07-01,0.320000,Base_Q3'22,180.0

In [ ]:
df_full.dtypes

In [271]:
#проверка
df_full[(df_full['Оператор']=='Tele2')&(df_full['Показатель']=='NPS')&(df_full['Категория']=='Total Russia')&(df_full['Категория_Выбор']=='Total Russia all')]

,Показатель,Оператор,Вариант,Категория,Категория_Выбор,Сегмент,Разбивка1,Вариант1,Пояснение,quarter,NPS,quater_cnt,subs
94303,NPS,Tele2,NaN,Total Russia,Total Russia all,All Segments,Subs / nonsubs,Есть Tele2,NPS,Q1'20,0.435238,Base_Q1'20,14013.0
188650,NPS,Tele2,NaN,Total Russia,Total Russia all,All Segments,Subs / nonsubs,Есть Tele2,NPS,Q2'20,0.407539,Base_Q2'20,13193.0
282997,NPS,Tele2,NaN,Total Russia,Total Russia all,All Segments,Subs / nonsubs,Есть Tele2,NPS,Q3'20,0.383119,Base_Q3'20,13325.0
377344,NPS,Tele2,NaN,Total Russia,Total Russia all,All Segments,Subs / nonsubs,Есть Tele2,NPS,Q4'20,0.388603,Base_Q4'20,13373.0
471691,NPS,Tele2,NaN,Total Russia,Total Russia all,All Segments,Subs / nonsubs,Есть Tele2,NPS,Q1'21,0.379882,Base_Q1'21,13338.0
566038,NPS,Tele2,NaN,Total Russia,Total Russia all,All Segments,Subs / nonsubs,Есть Tele2,NPS,Q2'21,0.354645,Base_Q2'21,13504.0
660385,NPS,Tele2,NaN,Total Russia,Total Russia all,All Segments,Subs / nonsubs,Есть Tele2,NPS,Q3'21,0.337355,Base_Q3'21,13605.0
754732,NPS,Tele2,NaN,Total Russia,Total Russia all,All Segments,Subs / nonsubs,Есть Tele2,NPS,Q4'21,0.363485,Base_Q4'21,13590.0
849079,NPS,Tele2,NaN,Total Russia,Total Russia all,All Segments,Subs / nonsubs,Есть Tele2,NPS,Q1'22\n(A),0.286042,Base_Q1'22,12334.0
943426,NPS,Tele2,NaN,Total Russia,Total Russia all,All Segments,Subs / nonsubs,Есть Tele2,NPS,Q2'22\n(B),0.296570,Base_Q2'22,12488.0
1037773,NPS,Tele2,NaN,Total Russia,Total Russia all,All Segments,Subs / nonsubs,Есть Tele2,NPS,Q3'22\n(C),0.260558,Base_Q3'22,12276.0

In [ ]:
flag = []
for i, row in df_full.iterrows():   
    if 'Есть' in row['Вариант1']:
        flag.append('Свой') 
    elif 'Нет' in row['Вариант1']:
        flag.append('Чужой') 
    elif 'All Subs' in row['Вариант1']:
        flag.append('All') 
    else:
        flag.append('')        
df_full['flag'] = flag
df_full.value_counts('flag')

In [ ]:
def new_stat (row):
  if 'Есть' in row['Вариант1']:
    return 'Свой' 
  elif 'Нет' in row['Вариант1']:
        return 'Чужой'
  elif 'All Subs' in row['Вариант1']:
        return 'All'
  else:
    ('') 
df_full['flag']=df_full.apply(new_stat, axis = 1)
df_full.value_counts('flag', dropna=False)

In [ ]:
df_full

In [405]:
df_full['quarter']= pd.to_datetime( df_full['quarter'])

In [ ]:
df_full.dtypes

In [ ]:
df_full

In [408]:
df123 = df_full.iloc[0:700000]

In [409]:
 df1234 = df_full.iloc[700000:]

In [410]:
df123.to_excel('total_1.xlsx') 
df1234.to_excel('total_2.xlsx') 
#df1234.to_csv('total_1.csv', encoding = "utf-8-sig", sep= ',' )

черновик

In [ ]:
#переворчиваем
df_unpivot = pd.melt(df, id_vars=['Показатель', 'Оператор', 'Вариант', 'Категория', 'Категория_Выбор', 'Сегмент', 'Разбивка1', 'Вариант1', 'Пояснение', "Base_Q3'20", \
     "Base_Q4'20", "Base_Q1'21", "Base_Q2'21", "Base_Q3'21", "Base_Q4'21", "Base_Q1'22", "Base_Q2'22", "Base_Q3'22", "Base_Q1'20", "Base_Q2'20"], \
    value_vars=["Q1'20", "Q2'20", "Q3'20", "Q4'20", "Q1'21", "Q2'21", "Q3'21", "Q4'21", "Q1'22\n(A)", "Q2'22\n(B)", "Q3'22\n(C)"], var_name='quater', value_name='NPS')
df_unpivot 
#df_unpivot.rename(columns = {'variable': 'quater', 'value':'NPS'}, inplace=True)

In [240]:
df_unpivot.columns

Index(['Показатель', 'Оператор', 'Вариант', 'Категория', 'Категория_Выбор',
       'Сегмент', 'Разбивка1', 'Вариант1', 'Пояснение', 'Base_Q3'20',
       'Base_Q4'20', 'Base_Q1'21', 'Base_Q2'21', 'Base_Q3'21', 'Base_Q4'21',
       'Base_Q1'22', 'Base_Q2'22', 'Base_Q3'22', 'Base_Q1'20', 'Base_Q2'20',
       'quater', 'NPS'],
      dtype='object')

In [241]:
#переворчиваем
df_unpivot_final = pd.melt(df_unpivot, id_vars=['Показатель', 'Оператор', 'Вариант', 'Категория', 'Категория_Выбор', 'Сегмент', 'Разбивка1', 'Вариант1', 'Пояснение', 'quater', 'NPS'], \
    value_vars=["Base_Q3'20",  "Base_Q4'20", "Base_Q1'21", "Base_Q2'21", "Base_Q3'21", "Base_Q4'21", "Base_Q1'22", "Base_Q2'22", "Base_Q3'22"])
df_unpivot_final

,Показатель,Оператор,Вариант,Категория,Категория_Выбор,Сегмент,Разбивка1,Вариант1,Пояснение,quater,NPS,variable,value
0,AA,МТС,NaN,Cluster New,Defender,All Segments,All Subs,All Subs,102. Ad Awareness (q102. Рекламу каких операто...,Q1'20,0.564618,Base_Q3'20,4245.0
1,AA,Билайн,NaN,Cluster New,Defender,All Segments,All Subs,All Subs,102. Ad Awareness (q102. Рекламу каких операто...,Q1'20,0.502386,Base_Q3'20,4245.0
2,AA,Мегафон,NaN,Cluster New,Defender,All Segments,All Subs,All Subs,102. Ad Awareness (q102. Рекламу каких операто...,Q1'20,0.552631,Base_Q3'20,4245.0
3,AA,Tele2,NaN,Cluster New,Defender,All Segments,All Subs,All Subs,102. Ad Awareness (q102. Рекламу каких операто...,Q1'20,0.642393,Base_Q3'20,4245.0
4,AA,Ростелеком,NaN,Cluster New,Defender,All Segments,All Subs,All Subs,102. Ad Awareness (q102. Рекламу каких операто...,Q1'20,0.013110,Base_Q3'20,4245.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9340348,NPS,Мегафон,NaN,Cluster_update,Share Hungry w/o Москва,All Segments,Subs / nonsubs,Есть Мегафон,NPS,Q3'22\n(C),0.218238,Base_Q3'22,2554.0
9340349,NPS,Tele2,NaN,Cluster_update,Share Hungry w/o Москва,All Segments,Subs / nonsubs,Есть Tele2,NPS,Q3'22\n(C),0.297777,Base_Q3'22,1844.0
9340350,NPS,МТС,NaN,Region new,Хабаровск,All Segments,Subs / nonsubs,Есть МТС,NPS,Q3'22\n(C),0.190000,Base_Q3'22,291.0
9340351,NPS,Билайн,NaN,Region new,Хабаровск,All Segments,Subs / nonsubs,Есть Билайн,NPS,Q3'22\n(C),0.020000,Base_Q3'22,178.0
9340352,NPS,Мегафон,NaN,Region new,Хабаровск,All Segments,Subs / nonsubs,Есть Мегафон,NPS,Q3'22\n(C),0.320000,Base_Q3'22,180.0

In [243]:
df_unpivot_final.to_csv('tesqq.csv', index=False )

In [249]:
df_unpivot_final[(df_unpivot_final['Оператор'] == 'Tele2')&(df_unpivot_final['Показатель'] == 'NPS')&(df_unpivot_final['Категория'] == 'Total Russia')&(df_unpivot_final['Категория_Выбор'] == 'Total Russia all')].to_excel('qweasd.xlsx')

4. Diss reasons tracking

In [102]:
import pandas as pd

In [119]:
#исходник прописей 
df = pd.read_excel("Diss Reasons All 2019_2022'q3.xlsx")
df.head()

,Name,Operator,Reason,Category,Region,Quarter,Share
0,2172. Плохая зона приема,МТС,Затрудняюсь ответить,Total Russia,Total Russia all,2019-01-01,0.000505
1,2172. Плохая зона приема,Tele2,Затрудняюсь ответить,Total Russia,Total Russia old,2019-01-01,0.000584
2,2172. Плохая зона приема,МТС,Затрудняюсь ответить,Total Russia,Total Russia new,2019-01-01,0.000972
3,2172. Плохая зона приема,Мегафон,Затрудняюсь ответить,Total Russia,Total Russia new,2019-01-01,0.001452
4,2172. Плохая зона приема,МТС,Затрудняюсь ответить,Total Russia,Total Russia new wo Moscow,2019-01-01,0.001486

In [120]:
#чекаем имя первого уровня
df.Name.unique()

array(['2172. Плохая зона приема', '2179. СМС ММС', '2176. Нечестность',
       '2178. Абонент служба', '2171. Плохое качество связи',
       '2177. Мобильный интернет', '2174. Роуминг', '2173. Тарифы',
       'Dissatisfied Reasons (NET)', '2175. Платежи',
       '21721. Мобильное приложение'], dtype=object)

In [121]:
#добавляем новую колонку с новым именем(без цифр)
new_name = []
for row in df.itertuples():
    if '2172. Плохая зона приема' in row[1]:
        new_name.append('Плохая зона приема')
    elif '2179. СМС ММС' in row[1]:
        new_name.append('СМС ММС')
    elif '2176. Нечестность' in row[1]:
        new_name.append('Нечестность')
    elif '2178. Абонент служба' in row[1]:
        new_name.append('Абонент служба')
    elif '2171. Плохое качество связи' in row[1]:
        new_name.append('Плохое качество связи')
    elif '2177. Мобильный интернет' in row[1]:
        new_name.append('Мобильный интернет')
    elif '2174. Роуминг' in row[1]:
        new_name.append('Роуминг')
    elif '2173. Тарифы' in row[1]:
        new_name.append('Тарифы')
    elif 'Dissatisfied Reasons (NET)' in row[1]:
        new_name.append('Dissatisfied Reasons (NET)')
    elif '2175. Платежи' in row[1]:
        new_name.append('Платежи')
    elif '21721. Мобильное приложение' in row[1]:
        new_name.append('Мобильное приложение')
    else:
         new_name.append('NaN')
df['new_name'] = new_name 
df

,Name,Operator,Reason,Category,Region,Quarter,Share,new_name
0,2172. Плохая зона приема,МТС,Затрудняюсь ответить,Total Russia,Total Russia all,2019-01-01,0.000505,Плохая зона приема
1,2172. Плохая зона приема,Tele2,Затрудняюсь ответить,Total Russia,Total Russia old,2019-01-01,0.000584,Плохая зона приема
2,2172. Плохая зона приема,МТС,Затрудняюсь ответить,Total Russia,Total Russia new,2019-01-01,0.000972,Плохая зона приема
3,2172. Плохая зона приема,Мегафон,Затрудняюсь ответить,Total Russia,Total Russia new,2019-01-01,0.001452,Плохая зона приема
4,2172. Плохая зона приема,МТС,Затрудняюсь ответить,Total Russia,Total Russia new wo Moscow,2019-01-01,0.001486,Плохая зона приема
...,...,...,...,...,...,...,...,...
403089,Dissatisfied Reasons (NET),МТС,"Тарифы (высокие цены, маленький выбор тарифов)",Total Russia,Total Russia all,2022-07-01,0.531595,Dissatisfied Reasons (NET)
403090,Dissatisfied Reasons (NET),МТС,"Тарифы (высокие цены, маленький выбор тарифов)",Total Russia,Total Russia all wo Moscow,2022-07-01,0.536952,Dissatisfied Reasons (NET)
403091,Dissatisfied Reasons (NET),МТС,"Тарифы (высокие цены, маленький выбор тарифов)",Total Russia,Total Russia new,2022-07-01,0.519230,Dissatisfied Reasons (NET)
403092,Dissatisfied Reasons (NET),МТС,"Тарифы (высокие цены, маленький выбор тарифов)",Total Russia,Total Russia new wo Moscow,2022-07-01,0.526641,Dissatisfied Reasons (NET)
403093,Dissatisfied Reasons (NET),МТС,"Тарифы (высокие цены, маленький выбор тарифов)",Total Russia,Total Russia old,2022-07-01,0.542620,Dissatisfied Reasons (NET)

In [122]:
#test
df.new_name.unique()

array(['Плохая зона приема', 'СМС ММС', 'Нечестность', 'Абонент служба',
       'Плохое качество связи', 'Мобильный интернет', 'Роуминг', 'Тарифы',
       'Dissatisfied Reasons (NET)', 'Платежи', 'Мобильное приложение'],
      dtype=object)

In [124]:
#формируем справочник(файл выгрузил из теры NPS)
data = pd.read_excel('Cluster for propisi.xlsx')
data.head()

c:\Users\vitaly.flerin\Miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

     cluster_actual              Macroregion          Region
0        Challenger                   Москва          Москва
1        Challenger  Байкал и Дальний Восток     Владивосток
2          Defender               Черноземье          Липецк
3  Challenger Elite                       Юг  Ростов на Дону
4  Challenger Elite               Черноземье          Брянск

In [125]:
#переименовываем колонки
data.rename(columns = {"cluster_actual":"Cluster", "Macroregion":"Macro"}, inplace=True)
data

             Cluster                    Macro          Region
0         Challenger                   Москва          Москва
1         Challenger  Байкал и Дальний Восток     Владивосток
2           Defender               Черноземье          Липецк
3   Challenger Elite                       Юг  Ростов на Дону
4   Challenger Elite               Черноземье          Брянск
..               ...                      ...             ...
59  Challenger Elite                    Волга          Ижевск
60        Challenger                    Центр          Калуга
61  Challenger Elite                     Урал       Сыктывкар
62  Challenger Elite               Черноземье            Орел
63        Challenger                     Урал    Екатеринбург

[64 rows x 3 columns]

In [126]:
df.Region.unique()

array(['Total Russia all', 'Total Russia old', 'Total Russia new',
       'Total Russia new wo Moscow', 'Москва', 'Псков', 'Пермь', 'Омск',
       'Казань', 'Ижевск', 'Воронеж', 'Тыва', 'Чувашия', 'Петрозаводск',
       'Архангельск', 'С.Петербург', 'Смоленск', 'Сахалин', 'ЯНАО',
       'Оренбург', 'Иркутск', 'Пенза', 'Владивосток', 'Н.Новгород',
       'Томск', 'Кемерово', 'Вологда', 'Ростов-на-Дону', 'Белгород',
       'Барнаул', 'Камчатка', 'Кострома', 'Брянск', 'Курган', 'Магадан',
       'Орел', 'Тамбов', 'Липецк', 'Саратов', 'Хакасия', 'Мурманск',
       'Марий Эл', 'Тверь', 'Тюмень', 'Красноярск', 'Курск', 'Мордовия',
       'Волгоград', 'В.Новгород', 'Владимир', 'Новосибирск', 'Ярославль',
       'Краснодар и Адыгея', 'Ульяновск', 'Челябинск', 'Самара', 'Киров',
       'Тула', 'Бурятия', 'Калининград', 'Рязань', 'Иваново', 'Калуга',
       'Екатеринбург', 'ХМАО', 'Сыктывкар', 'Биробиджан', 'Горно-Алтайск',
       'Total Russia all wo Moscow', 'Хабаровск', 'Ростов на Дону'],
      dtype=object)

In [127]:
#добавляем в справочник информауию по Тыве и формируем кластер для Тотал Раша
df2 = pd.DataFrame({'Region': ['Total Russia all', 'Total Russia old', 'Total Russia new',  'Total Russia new wo Moscow' , 'Total Russia all wo Moscow', "Тыва"],
 'Cluster': ['Total Russia', 'Total Russia', 'Total Russia','Total Russia','Total Russia', "Challenger Elite"],
 'Macro': ['Total Russia', 'Total Russia', 'Total Russia','Total Russia','Total Russia', "Сибирь"]})

#add new row to end of DataFrame
data = data.append(df2, ignore_index = True )
data

C:\Users\vitaly.flerin\AppData\Local\Temp\ipykernel_18380\1693843235.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(df2, ignore_index = True )

             Cluster                    Macro                      Region
0         Challenger                   Москва                      Москва
1         Challenger  Байкал и Дальний Восток                 Владивосток
2           Defender               Черноземье                      Липецк
3   Challenger Elite                       Юг              Ростов на Дону
4   Challenger Elite               Черноземье                      Брянск
..               ...                      ...                         ...
65      Total Russia             Total Russia            Total Russia old
66      Total Russia             Total Russia            Total Russia new
67      Total Russia             Total Russia  Total Russia new wo Moscow
68      Total Russia             Total Russia  Total Russia all wo Moscow
69  Challenger Elite                   Сибирь                        Тыва

[70 rows x 3 columns]

In [128]:
data[data['Region'].str.startswith("Ростов") ]

            Cluster Macro          Region
3  Challenger Elite    Юг  Ростов на Дону

In [129]:
df[df['Region'].str.startswith("Ростов") ]

,Name,Operator,Reason,Category,Region,Quarter,Share,new_name
109,Dissatisfied Reasons (NET),Мегафон,Платежи,Region,Ростов-на-Дону,2019-01-01,0.009254,Dissatisfied Reasons (NET)
151,Dissatisfied Reasons (NET),Мегафон,Мобильное приложение,Region,Ростов-на-Дону,2019-01-01,0.010717,Dissatisfied Reasons (NET)
164,Dissatisfied Reasons (NET),Tele2,Абонентская служба,Region,Ростов-на-Дону,2019-01-01,0.011081,Dissatisfied Reasons (NET)
431,Dissatisfied Reasons (NET),Tele2,Платежи,Region,Ростов-на-Дону,2019-01-01,0.017407,Dissatisfied Reasons (NET)
687,2173. Тарифы,МТС,Затрудняюсь ответить,Region,Ростов-на-Дону,2019-01-01,0.022114,Тарифы
...,...,...,...,...,...,...,...,...
402804,Dissatisfied Reasons (NET),МТС,"Роуминг (высокие цены, плохое качество, отсутс...",Region,Ростов на Дону,2022-07-01,0.163773,Dissatisfied Reasons (NET)
402870,Dissatisfied Reasons (NET),МТС,"Роуминг в поездках за рубеж (высокие цены, пло...",Region,Ростов на Дону,2022-07-01,0.081936,Dissatisfied Reasons (NET)
402936,Dissatisfied Reasons (NET),МТС,"Роуминг в поездках по России (высокие цены, пл...",Region,Ростов на Дону,2022-07-01,0.101547,Dissatisfied Reasons (NET)
403002,Dissatisfied Reasons (NET),МТС,"СМС/ММС (спам, проблемы с доставкой, дорого)",Region,Ростов на Дону,2022-07-01,0.028807,Dissatisfied Reasons (NET)
403068,Dissatisfied Reasons (NET),МТС,"Тарифы (высокие цены, маленький выбор тарифов)",Region,Ростов на Дону,2022-07-01,0.458094,Dissatisfied Reasons (NET)

In [130]:
#устраняем разное название региона Ростов
new_reg = []
for row in df.itertuples():
    if 'Ростов' in row[5]:
        new_reg.append("Ростов на Дону")
    else:
       new_reg.append(row [5] ) 
df["Region"] = new_reg
df

,Name,Operator,Reason,Category,Region,Quarter,Share,new_name
0,2172. Плохая зона приема,МТС,Затрудняюсь ответить,Total Russia,Total Russia all,2019-01-01,0.000505,Плохая зона приема
1,2172. Плохая зона приема,Tele2,Затрудняюсь ответить,Total Russia,Total Russia old,2019-01-01,0.000584,Плохая зона приема
2,2172. Плохая зона приема,МТС,Затрудняюсь ответить,Total Russia,Total Russia new,2019-01-01,0.000972,Плохая зона приема
3,2172. Плохая зона приема,Мегафон,Затрудняюсь ответить,Total Russia,Total Russia new,2019-01-01,0.001452,Плохая зона приема
4,2172. Плохая зона приема,МТС,Затрудняюсь ответить,Total Russia,Total Russia new wo Moscow,2019-01-01,0.001486,Плохая зона приема
...,...,...,...,...,...,...,...,...
403089,Dissatisfied Reasons (NET),МТС,"Тарифы (высокие цены, маленький выбор тарифов)",Total Russia,Total Russia all,2022-07-01,0.531595,Dissatisfied Reasons (NET)
403090,Dissatisfied Reasons (NET),МТС,"Тарифы (высокие цены, маленький выбор тарифов)",Total Russia,Total Russia all wo Moscow,2022-07-01,0.536952,Dissatisfied Reasons (NET)
403091,Dissatisfied Reasons (NET),МТС,"Тарифы (высокие цены, маленький выбор тарифов)",Total Russia,Total Russia new,2022-07-01,0.519230,Dissatisfied Reasons (NET)
403092,Dissatisfied Reasons (NET),МТС,"Тарифы (высокие цены, маленький выбор тарифов)",Total Russia,Total Russia new wo Moscow,2022-07-01,0.526641,Dissatisfied Reasons (NET)
403093,Dissatisfied Reasons (NET),МТС,"Тарифы (высокие цены, маленький выбор тарифов)",Total Russia,Total Russia old,2022-07-01,0.542620,Dissatisfied Reasons (NET)

In [132]:
#джойним
full_df = pd.merge(df, data, how = "left", left_on = ['Region'], right_on=['Region'])
full_df.head()

,Name,Operator,Reason,Category,Region,Quarter,Share,new_name,Cluster,Macro
0,2172. Плохая зона приема,МТС,Затрудняюсь ответить,Total Russia,Total Russia all,2019-01-01,0.000505,Плохая зона приема,Total Russia,Total Russia
1,2172. Плохая зона приема,Tele2,Затрудняюсь ответить,Total Russia,Total Russia old,2019-01-01,0.000584,Плохая зона приема,Total Russia,Total Russia
2,2172. Плохая зона приема,МТС,Затрудняюсь ответить,Total Russia,Total Russia new,2019-01-01,0.000972,Плохая зона приема,Total Russia,Total Russia
3,2172. Плохая зона приема,Мегафон,Затрудняюсь ответить,Total Russia,Total Russia new,2019-01-01,0.001452,Плохая зона приема,Total Russia,Total Russia
4,2172. Плохая зона приема,МТС,Затрудняюсь ответить,Total Russia,Total Russia new wo Moscow,2019-01-01,0.001486,Плохая зона приема,Total Russia,Total Russia

In [133]:
full_df.to_excel("Diss Reasons All 2019_2022'q3_convert_2.xlsx")

Таргет

In [134]:
#исходник прописей 
df = pd.read_excel("Выполнение целей v2.xlsx")
df.head()

,Регион,Кластер,Макрорегион,Группа_по_целям,Tele2 TD,МТС TD,Мегафон TD,Билайн TD,GAP,GAP_2021,...,result_logical,min BU,target BU,stretch BU,bu,bu_logical,double,double_logical,bu_2021,bu_2022
0,Архангельск,Challenger Elite,МР Северо-Запад,Группа 3,0.13,0.13,0.11,-0.08,0.00,0.07,...,Min,0.08,0.10,0.13,1.00,Target,0.90,Min,0.11,0.10
1,Барнаул,Share hungry,МР Сибирь,Группа 5,0.42,0.21,0.30,0.12,0.12,0.12,...,Target,0.37,0.39,0.42,0.80,Min,0.90,Min,0.39,0.37
2,Белгород,Challenger Elite,МР Черноземье,Группа 4,0.37,0.07,0.09,0.08,0.28,0.19,...,Stretch,0.19,0.21,0.24,1.13,Target,1.17,Target,0.24,0.23
3,Брянск,Challenger Elite,МР Черноземье,Группа 1,0.27,0.11,0.20,0.12,0.07,0.00,...,Stretch,0.14,0.16,0.19,1.20,Stretch,1.20,Stretch,0.18,0.22
4,В.Новгород,Challenger Elite,МР Северо-Запад,Группа 2,0.07,0.16,0.25,0.01,-0.18,-0.09,...,Nok,0.06,0.08,0.11,1.20,Stretch,0.95,Min,0.09,0.14

In [137]:
df.columns

Index(['Регион', 'Кластер', 'Макрорегион', 'Группа_по_целям', 'Tele2 TD',
       'МТС TD', 'Мегафон TD', 'Билайн TD', 'GAP', 'GAP_2021', 'Rank',
       'Rank_2021', 'result', 'result_logical', 'min BU', 'target BU',
       'stretch BU', 'bu', 'bu_logical', 'double', 'double_logical', 'bu_2021',
       'bu_2022'],
      dtype='object')

In [138]:
#переворчиваем
df_unpivot = pd.melt(df, id_vars=['Регион', 'Кластер', 'Макрорегион', 'Группа_по_целям', 'GAP', 'GAP_2021', 'Rank',\
       'Rank_2021', 'result', 'result_logical', 'min BU', 'target BU',  'stretch BU', 'bu', 'bu_logical', 'double', 'double_logical', 'bu_2021',  'bu_2022'], \
    value_vars=['Tele2 TD', 'МТС TD', 'Мегафон TD', 'Билайн TD'], var_name='Operator', value_name='NPS')
df_unpivot

,Регион,Кластер,Макрорегион,Группа_по_целям,GAP,GAP_2021,Rank,Rank_2021,result,result_logical,...,target BU,stretch BU,bu,bu_logical,double,double_logical,bu_2021,bu_2022,Operator,NPS
0,Архангельск,Challenger Elite,МР Северо-Запад,Группа 3,0.00,0.07,1,1,0.8,Min,...,0.10,0.13,1.00,Target,0.90,Min,0.11,0.10,Tele2 TD,0.13
1,Барнаул,Share hungry,МР Сибирь,Группа 5,0.12,0.12,1,1,1.0,Target,...,0.39,0.42,0.80,Min,0.90,Min,0.39,0.37,Tele2 TD,0.42
2,Белгород,Challenger Elite,МР Черноземье,Группа 4,0.28,0.19,1,1,1.2,Stretch,...,0.21,0.24,1.13,Target,1.17,Target,0.24,0.23,Tele2 TD,0.37
3,Брянск,Challenger Elite,МР Черноземье,Группа 1,0.07,0.00,1,1,1.2,Stretch,...,0.16,0.19,1.20,Stretch,1.20,Stretch,0.18,0.22,Tele2 TD,0.27
4,В.Новгород,Challenger Elite,МР Северо-Запад,Группа 2,-0.18,-0.09,3,3,0.7,Nok,...,0.08,0.11,1.20,Stretch,0.95,Min,0.09,0.14,Tele2 TD,0.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,ХМАО,Challenger Elite,МР Урал,Группа 2,-0.09,-0.05,3,4,0.7,Nok,...,0.14,0.17,1.20,Stretch,0.95,Min,0.13,0.20,Билайн TD,0.00
232,Челябинск,Defender,МР Урал,Группа 3,0.11,0.05,1,1,1.2,Stretch,...,0.20,0.23,1.20,Stretch,1.20,Stretch,0.20,0.24,Билайн TD,0.00
233,Чувашия,Challenger,МР Волга,Группа 5,0.18,0.12,1,1,1.2,Stretch,...,0.18,0.21,1.20,Stretch,1.20,Stretch,0.19,0.22,Билайн TD,0.15
234,ЯНАО,Challenger,МР Урал,Группа 2,0.04,-0.02,1,2,1.2,Stretch,...,0.21,0.24,0.90,Min,1.05,Target,0.20,0.20,Билайн TD,0.00
235,Ярославль,Share hungry,МР Центр,Группа 6,0.25,0.23,1,1,1.2,Stretch,...,0.35,0.38,1.20,Stretch,1.20,Stretch,0.38,0.39,Билайн TD,0.00

In [139]:
df_unpivot.to_excel("result_pivot.xlsx")